.item {
    background-color: #7d7d7d10;
    padding: 1rem;
    border: 0.1rem solid #7d7d7d50;
    border-radius: 1rem;
    cursor: pointer;
}

.ayyah,
.translation {
    background-color: #7d7d7d;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}
.ayyah {
    height: 0.7rem;
}
.translation {
    height: 0.3rem;
}
.mushaf .ayyah {
    width: 100%;
}
.continuous .ayyah {
    margin-top: 1rem;
    width: 80%;
}
.continuous .translation {
    width: 90%;
}

.selected {
    background-color: #7d7d7d30;
    border-color: #7d7d7d7d;
}
